registration-page/env-var.bat
registration-page/static/css/details.css.map
registration-page/static/css/register.css.map
registration-page/static/css/home.css.map
registration-page/__pycache__/application.cpython-38.pyc
registration-page/static/css/reg-page.css.map
