<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/bookdetails.css">
        <link rel="icon" href="../static/css/images/favicon.ico" type="image/gif" sizes="16x16">
        <title>{{title}}</title>
    </head>

    <body>
        <header>
            <div id="logout">
                <a href="{{url_for('logout')}}" title="Log Out">
                    <svg class="bi bi-power" width="1.5em" height="2em" viewBox="0 0 16 16" fill="black"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.578 4.437a5 5 0 104.922.044l.5-.866a6 6 0 11-5.908-.053l.486.875z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
            <div id="title">
                <a href="results.html" title="Go to Home">Books Ville</a>
            </div>
        </header>

        <div id="book-details">
            <div id="book-img"><img src="http://covers.openlibrary.org/b/isbn/{{isbn}}.jpg" alt="image"></div>
            <div id="book-metadata">
                <ul>
                    <li id="detail-item">
                        <p style="font-size: 50px;">{{title}}</p>
                    </li>
                    <li id="detail-item">
                        <h2 style="font-style: oblique;">{{author}}</h2>
                    </li>
                    <li id="detail-item">
                        <h2 style="font-style: oblique;">{{year}}</h2>
                    </li>
                    <li id="detail-item">
                        <h3>ISBN: {{isbn}}</h3>
                    </li>
                    <li id="detail-item">
                        <h3>No. of Reviews: {{review_count}}</h3>
                    </li>
                </ul>
            </div>

            <div id="review-pane">
            </div>
        </div>
    </body>

</html>
