<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>
        <link rel="stylesheet" href="../static/css/bookdetails.css">
        <link rel="icon" href="../static/css/images/favicon.ico" type="image/gif" sizes="16x16">
        <title>{{title}}</title>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
				document.getElementById('form').onsubmit = () => {
					const request = new XMLHttpRequest();
					const review = document.getElementById('review').value;
					// const rating = document.getElementsByName('star').value;
                    const rating = document.querySelector('input[name="star"]:checked').value;
                    console.log(rating)
					request.open('POST', '/api/review/{{isbn}}');
					request.onload = () => {
						const data = JSON.parse(request.responseText);

						if(data.success){
							// document.getElementById('username').innerHTML = `${data.name}`;
							// document.getElementById('image').innerHTML = `${data.image}`;
							document.getElementById('title').innerHTML = `Book Name : ${data.title}`;
							document.getElementById('author').innerHTML = `Author : ${data.author}`;
							document.getElementById('year').innerHTML = `Year : ${data.year}`;
							document.getElementById('isbn').innerHTML = `ISBN : ${data.isbn}`;
							document.getElementById('average_rating').innerHTML = `Average Rating : ${data.average_rating}`;
							document.getElementById('review_count').innerHTML = `Number of Reviewers : ${data.review_count}`;
							// document.getElementById('button').innerHTML = `${data.Submit}`;
							document.getElementById('score').innerHTML = `Your Rating is ${data.rating}/5`;
							document.getElementById('matter').innerHTML = `${data.review}`;
						}
					}
					request.send(JSON.stringify({"review" : review, "rating" : rating}));
					return false;
				}
			});
        </script>
    </head>

    <body>
        <header>
            <div id="logout">
                <a href="{{url_for('logout')}}" title="Log Out">
                    <svg class="bi bi-power" width="1.5em" height="2em" viewBox="0 0 16 16" fill="black"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.578 4.437a5 5 0 104.922.044l.5-.866a6 6 0 11-5.908-.053l.486.875z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
            <div id="title">
                <a href="results.html" title="Go to Home">Books Ville</a>
            </div>
        </header>

        <div id="book-details">
            <div id="book-img"><img src="http://covers.openlibrary.org/b/isbn/{{isbn}}.jpg" alt="image"></div>
            <div id="book-metadata">
                <ul>
                    <li id="detail-item">
                        <p id = "title" style="font-size: 50px;">{{title}}</p>
                    </li>
                    <li id="detail-item">
                        <h2 id = "author" style="font-style: oblique;">{{author}}</h2>
                    </li>
                    <li id="detail-item">
                        <h2 id = "year" style="font-style: oblique;">{{year}}</h2>
                    </li>
                    <li id="detail-item">
                        <h3 id = "isbn">ISBN: {{isbn}}</h3>
                    </li>
                    <li id="detail-item">
                        <h3 id = "review_count">No. of Reviews: {{review_count}}</h3>
                    </li>
                    <li id="detail-item">
                        <h3 id = "average_rating">Average rating: {{average_rating}}</h3>
                    </li>
                </ul>
            </div>
            <div id="review-pane">
                <!-- {% if rating and review %}
                    <h3><strong>My rating:</strong> {{ rating }}/5</h3>
                    <h3><strong>My review:</strong> {{ review }}</h3>
                    {% else %}
                        <h3><strong>My rating:</strong> Not posted</h3>
                        <h3><strong>My review:</strong> Not posted</h3>
                {% endif %} -->
                <h3 id = "score"><strong>My rating:</strong> {{ rating }}/5</h3>
                <h3 id = "matter"><strong>My review:</strong> {{ review }}</h3>
            </div>
        </div>
        <form id = "form" action="{{ url_for('bookdetails',isbn = isbn) }}" method = "POST">
            <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="stars">
                            <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
                            <label class="star star-1" for="star-1"></label>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="md-form">
                            <i class="fas fa-pencil prefix grey-text"></i>
                            <textarea id = "review" type="text" id="form8" name = "tbox" class="md-textarea form-control" rows="4"></textarea>
                            <label data-error="wrong" data-success="right" for="form8">Your Review</label>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-dark btn-rounded" type="submit" style = "border-radius: 5px;">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div id = "review-details">
            <div class="text-center">
                {% if msg %}
                    <p>{{ msg }}</p>
                {% endif %}
                <a data-toggle="modal" data-target="#modalContactForm"><button class="btn btn-dark" type="submit" style = "border-radius: 5px;">{{ button_text }}</button></a>
            </div>
            <div id = "book-reviews">
                <h2><strong>Book Reviews</strong></h2>
                <ul>
                {% if details %}
                    {% for i in details %}
                        <li>
                            <p><strong>Email:</strong> {{ i.email }}</p>
                            <p><strong>Rating:</strong> {{i.rating}}/5</p>
                            <p><strong>Review:</strong> {{i.review}}</p>
                        </li>
                    {% endfor %}
                    {% else %}
                        <p>No reviews for this book yet.</p>
                {% endif %}
                </ul>
            </div>
        </div>
    </body>

</html>
