$title-size: 40px;
body {
    margin: 10px;
    background-image: url("./images/one.jpg");
    background-size: cover;
    header {
        div#title {
            text-align: center;
            padding-bottom: $title-size;
            a {
                font-size: 60px;
                font-weight: 700;
                color: #023e81;
                text-decoration: none;
            }
        }
        div#logout {
            font-size: 20px;
            font-weight: 500;
            color: #023e81;
            text-align: right;
        }
    }
    div#book-details {
        display: inline-flex;
        margin: 0 0 0 220px;
        div#book-img {
            img {
                box-sizing: border-box;
                border: 5px solid black;
                width: 300px;
            }
        }
        div#book-metadata {
            ul {
                // font-size: 35px;
                margin: 20px 0 0 0;

                li#detail-item {
                    color: black;
                    font-weight: 500;
                    display: block;
                }
            }
        }
    }
}
