$title-size: 40px;
body {
    text-align: center;
    background-color: #c9c9c7;
    margin: 10px;
    background-size: cover;

    header {
        div#title {
            text-align: center;
            padding: $title-size;
            a {
                font-size: 60px;
                font-weight: 700;
                color: #023e81;
                text-decoration: none;
            }
        }
            div#logout {
            font-size: 20px;
            font-weight: 500;
            color: #023e81;
            text-align: right;
        }

    }
    .wd{
        &:focus{
            background-color: #111;
                    color: #ccc;
        }
        width: 300px;
    }
    .container{
         a {
            color: #023e81;
          }
          thead{
              background-color: black;
              color: white;
          }
         th,td{
        text-align: center;
         }


    tr {
    :hover {
            font-weight: bold;
            background-color: #eae9e9;
        }
    }
}


}
