$links-text-color: #f1f1f1;
$white: #ffffff;
$title: #55545b;
$title2: #be1e12;
$font-size: 28px;
%fontbold {
    font-weight: bold;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-family: "Roboto";

    body {
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;

        a {
            text-decoration: none;
            text-align: center;
            font-size: 14px;
        }

        header {
            div {
                &.topSection {
                    padding: 3px;
                    margin: 0;
                    height: 10px;
                    background-color: $title;
                }
                &.logoSection {
                    div {
                        &#logo {
                            display: inline;

                            img {
                                width: 100px;
                                height: 100px;
                            }
                        }
                        &#nameContainer {
                            text-align: center;
                            display: block;
                            a {
                                &#title {
                                    color: $title;
                                    @extend %fontbold;
                                    font-size: 45pt;
                                    @media (max-width: 1024px) {
                                        font-size: 30pt;
                                    }
                                    margin-block-end: 0;
                                    margin-block-start: 0;

                                    padding: 15px 0 15px 0;
                                }
                            }
                        }
                    }
                }
            }

            nav {
                margin: 0;
                background-image: linear-gradient(to bottom, $title, $title2);
                text-align: center;
                div {
                    ul {
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        padding-inline-start: 0px;
                        li {
                            display: inline-block;
                            list-style-type: none;
                            a {
                                display: inline-block;
                                padding: 15px 20px;
                                color: $links-text-color;
                                &:hover {
                                    background-image: linear-gradient(to bottom, $title2, $title);
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
        div {
            margin: 5px;
            font-size: 20px;
            div[id="info"] {
                p {
                    text-align: justify;
                    text-justify: inter-word;
                }
            }
            &#date {
                font-weight: 600;
            }
            &#tripImage {
                img {
                    width: 30%;
                    float: right;
                    @media (max-width: 1024px) {
                        width: 100%;
                    }
                }
            }
            &#placesVisited {
                @media (max-width: 1024px) {
                    width: 100%;
                    padding-right: 20px;
                }
                table {
                    border: 2px solid black;
                    border-collapse: collapse;
                    padding: 3px;
                    @media (max-width: 1024px) {
                        font-size: 15px;
                    }

                    thead {
                        background-color: $title;
                        text-align: center;
                        color: white;
                    }
                    th,
                    td {
                        border: 2px solid black;
                        border-collapse: collapse;
                        padding: 20px;
                        text-align: justify;
                        text-justify: inter-word;
                    }
                }
            }
        }
    }
}
